.App {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

#board {
  display: grid;
  min-width: 300px;
  min-height: 300px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 2px;
}

.square {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  font-size: 24px;
}
